# This version is better than the built-in because it does better caching.
if ! has nix_direnv_version || ! nix_direnv_version 3.0.6; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.6/direnvrc" "sha256-RYcUJaRMf8oF5LznDrlCXbkOQrywm0HDv1VjYGaJGdM="
fi

# If already set (e.g. in github actions); use that instead.
# Only run if gh exists, too.
if [[ -z "$GITHUB_TOKEN" ]] && which gh &>/dev/null ; then
    # Don't attempt if offline.
    # (There's probably a better way?)
    if [[ -n "$(ip r)" ]] ; then
        gh auth status || gh auth login
        GITHUB_TOKEN="$(gh auth token)"
        export GITHUB_TOKEN
    fi
    NIX_CONFIG="access-tokens = github.com=$GITHUB_TOKEN"
    export NIX_CONFIG
fi

use flake
